name = "services"
account_id = "dc9f963dfa4a630ca83eda7ccd8f363d"
compatibility_date = "2022-01-23"
main = "./src/index.ts"
send_metrics = false

# For production environment, use '-e production'
[env.production]
zone_id = "0ba583492080d3db28c103574f1d19cf"
routes = ["*whoami.home-assistant.io/*", "*services.home-assistant.io/*"]
vars = { WORKER_ENV = "production" }
r2_buckets = [
	{ binding = "WAKEWORD_TRAINING_BUCKET", bucket_name = "assist-wakeword-training-data", preview_bucket_name = "assist-wakeword-training-data-test" },
]

# For dev environment, use '-e dev'
[env.dev]
workers_dev = true
vars = { WORKER_ENV = "dev" }
r2_buckets = [
	{ binding = "WAKEWORD_TRAINING_BUCKET", bucket_name = "assist-wakeword-training-data", preview_bucket_name = "assist-wakeword-training-data-test" },
]
