name: Publish

on:
  push:
    branches:
      - main
  release:
    types:
      - published

jobs:
  publish:
    runs-on: ubuntu-latest
    name: Publish
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'

      - name: Set wrangler version
        id: wrangler
        run: echo "version=$(jq -r .devDependencies.wrangler package.json | cut -c2-)" >> "$GITHUB_OUTPUT"

      - name: Install packages
        run: yarn install

      - name: Set environment
        id: environment
        run: |
          environment="dev"
          if [[ "${{ github.event_name }}" == "release" ]]; then
            environment="production"
          fi
          echo "environment=${environment}" >> "$GITHUB_OUTPUT"

      - name: Publish ${{ steps.environment.outputs.environment }} worker
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CF_WORKER_API_TOKEN }}
          wranglerVersion: ${{ steps.wrangler.outputs.version }}
          command: deploy --env=${{ steps.environment.outputs.environment }}
