name: Test

on:
  pull_request:
    branches:
      - main

env:
  NODE_VERSION: "16.14.0"

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build worker
    steps:
      - uses: actions/checkout@v3.0.2

      - uses: actions/setup-node@v3.3.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install packages
        run: yarn install

      - name: Build
        run: ./node_modules/.bin/wrangler build

  test:
    runs-on: ubuntu-latest
    name: Test worker
    steps:
      - uses: actions/checkout@v3.0.2

      - uses: actions/setup-node@v3.3.0
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install packages
        run: yarn install

      - name: Test
        run: ./node_modules/.bin/jest
